<% if @book %>
  <h1 class= "display-4 text-dark text-center">Reviews for: <%= link_to @book.title, book_path(@book), class: 'text-info'%> by <%= @book.author %></h1>
  <% if @book.reviews.empty? %>
  <h3 class= "display-4 text-dark text-center">There are no reviews yet for this book!</h3>
  <% end %>
  <% if current_user.reviews.where(book_id: @book.id).empty? %>
  <div class="text-center"><%= link_to "Add Review", new_book_review_path, class: "btn btn-outline-info m-2" %></div>
<% end %> 
<% else %>
  <h1 class= "display-4 text-dark text-center">Reviews by: <%= @user.username %></h1>
<% end %>


<div class="d-flex justify-content-center flex-wrap row-hl">
  <% @reviews.each do |review| %>

  <div class="card mb-4 border-dark mr-4" style="width: 25rem;" style="display:flex"> 
    <p class="card-header text-center bg-dark"><%= stars(review.rating) %></p>
    <div class="card-body text-center">
      <p class="lead"><%= review.content %></p>
    <% if owns_resource?(review) && @book %>
      <%= link_to "Edit", edit_book_review_path(@book, review), class: "btn btn-outline-info m-2" if review.book%>
    <% end %>
    </div>
    <div class="card-footer text-center bg-dark text-info">
      <% if @book %>
        <div>Reviewed by: <%= link_to review.user_username, user_reviews_path(review.user) %> <br> <%= display_created_at(review.created_at) %> </div>
      <% else %>
        <div>Book: <%= link_to review.book.title, book_path(review.book), class: "text-info" %> <br> <%= display_created_at(review.created_at) %> </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>




