 <nav class="navbar navbar-expand-sm nav-fill navbar-light bg-dark">
    <div class="container "> 
      <div class="navbar-brand text-info" >Book Nook</div>
      <%= link_to "#{current_user.username}", dashboard_path, class: 'text-light nav-link' %> | 
      <%= link_to "All Books", books_path, class: 'text-light nav-link' %> | 
      <%= link_to "Create a New Book", new_book_path, class: 'text-light nav-link' %> |
      <%= link_to "Your lists", lists_path, class: 'text-light nav-link' %> |
      <%= link_to "Most Reviews", most_reviews_path, class: 'text-light nav-link' %> |
      <%= link_to "Highest Ranked", highest_ranked_path, class: 'text-light nav-link' %> 
      <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-outline-info" %>  
    </div>
  </nav>